@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h1>Hello</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h1>claims</h1>
        @foreach (System.Security.Claims.Claim c in ViewBag.Claims)
        {
            <span><b>@c.Type: </b>@c.Value</span><br/>
        }
    </div>
</div>